{% include "head.html" %}
<h1>Historical Posts</h1>

<div class="accordion" id="accordionExample">
{% for post in posts %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#testing_day_{{ post.id }}" aria-expanded="true" aria-controls="testing_day_{{ post.id }}">
        {{ post.title }}
      </button>
    </h2>
    <div id="testing_day_{{ post.id }}" class="accordion-collapse collapse collapsed" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{ post.post }}
      </div>
    </div>
  </div>

{% endfor %}
  </div>
{% include "footer.html" %}