{% include "head.html" %}
<h1>Historical Posts</h1>



<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{ post.title }}
          Some more random text
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{ post.subtitle }}
          some random text
      </div>
    </div>
  </div>
</div>
{% for post in posts %}{% endfor %}
{% include "footer.html" %}